# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
coverage/
.DS_Store # macOS specific
.env* # Environment 
.env

# Build artifacts
dist/
build/
*.log

# Optional files
.eslintcache
.prettierrc.js.cache
.node_repl_history
pids/
*.pid
*.seed
*.pid.lock

# Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace